*{
	margin:0;
	padding:0; 
}

header, .footer-align{
	text-align: left;
	position: sticky !important;
	top:0 !important;
	height: 100px;
	z-index: 1;
	line-height: 100px;
}

h1{
	color:lightgray;
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

.form-control, .btn{
	height: 40px;
	vertical-align: middle;
}

.form-control{
	display: inline-block;
}

.btn{
	background-color:lightgreen;
	color:black;
	border-color:green; 
}

.btn:hover{
	background-color:#00CC00;
	color:black;
	border-color:#00CC00; 
}

.about{
	list-style-type:none;
}

.about>li{
	height:46px;
	line-height: 26px;
	border:1px solid lightgray;
	background-color: rgba(255,255,255,0.3);
	padding: 10px;
}

.about>li>i{
	margin-right:10px;
}

#l-side{
	margin: 0;
	padding: 0;
	background-image: url(../images/sashka.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:600px;
	position: sticky;
	top:100px;
}

.bg-glance{
	width: 100%;
	height: 100%;
	padding: 2px;
	background-color: rgba(255,255,255,0.5);
}

.art-container{
	margin:0 !important;
	padding:0 !important;
}

#carouselExampleIndicators, article{
	z-index: 0;	
}

#carouselExampleIndicators{
	background-color: lightgray;
}

h4{
	text-align: center;
}

.carousel{
	height: 300px;
}

.carousel-item>img{
	height:250px;
	margin-top: 25px;
}

hr{
	border-width: 5px;
	border-color:lightgray;;
}

.footer-align{
	text-align: center;
}

footer{
	height:100px;
}

footer img{
	width: 50px;
}

footer a{
	margin-right: 30px;
}
